.container {
  width: 1535px !important;
  padding: 0 !important;
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.woff);
}

header {
  height: 20vh;
  width: 100vw;
  background-color: #70b6e2;
  padding-top: 3vh;
}

header .logoWrapper {
  padding: 0;
}

header .searchWrapper {
  padding: 0;
}

header .search {
  height: 41px;
  width: 100%;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0 3%;
}

header input::placeholder {
  color: #70b6e2;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

header .dashWrapper {
  height: 80vh;
  width: 100vw;
  background-color: #f8fdff;
}

header .searchWrapper {
  position: relative;
}

header .searchWrapper .searchButton {
  position: absolute;
  top: 20%;
  right: 5%;
}

header .navigation {
  margin-top: 3vh;
  padding: 0;
}

header .navItem {
  padding: 10px;
  line-height: 20px;
  height: 40px;
  background-color: white;
  color: #70b6e2;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  opacity: 0.8;
}

header .navItem a, header .navItem a:hover, header .navItem a:visited {
  color: #70b6e2;
  font-size: 0.9em;
  text-decoration: none;
}

header .active {
  opacity: 1;
}

.sideBar {
  padding: 0 !important;
  margin-top: 5vh;
}

.sideBar .sideItem {
  height: 7vh;
  width: 10vw;
}

.sideBar .sideItem .imgWrapper {
  margin-right: 5%;
}

.sideBar a.point, .sideBar a.point:visited {
  color: #8a8a8a;
  text-decoration: none;
}

.sideBar a.point:hover {
  color: #70b6e2;
}

.sideBar .point-message:after {
  content: '3';
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.8em;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  background-color: #70b6e2;
  position: absolute;
  left: 43%;
  top: 30%;
}

.dashBoard {
  margin-top: -6.5vh;
  height: 60vh;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 1%;
  padding-left: 2% !important;
  padding-bottom: 2%;
}

.dashBoard .title {
  color: #70b6e2;
  text-transform: uppercase;
  font-weight: 600;
}

.dashBoard .notification {
  color: #8a8a8a;
  font-size: 1em;
}

.dashBoard ul {
  position: relative;
}

.dashBoard ul:before {
  content: '';
  display: block;
  position: absolute;
  top: 1%;
  left: 1%;
  width: 1px;
  height: 100%;
  background-color: #70b6e2;
}

.dashBoard li {
  list-style-type: none;
  position: relative;
}

.dashBoard li .li-title {
  margin: 0;
  font-size: 0.9em;
  color: #dcdcdc;
  text-transform: uppercase;
}

.dashBoard li .report {
  font-size: 0.9em;
  color: #616161;
}

.dashBoard li .report .taskName, .dashBoard li .report .taskName:hover, .dashBoard li .report .taskName:visited {
  color: #70b6e2;
  font-size: 0.9em;
  text-decoration: underline;
}

.dashBoard li .report .status-done {
  font-size: 0.9em;
  color: #8cca49;
}

.dashBoard li .report .status-progress {
  font-size: 0.9em;
  color: #616161;
}

.dashBoard li .report .status-cancelled {
  font-size: 0.9em;
  color: #ee6969;
}

.dashBoard li:before {
  content: '';
  display: block;
  position: absolute;
  top: 30%;
  left: -8.5%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dashBoard li.done:before {
  background-color: #8cca49;
}

.dashBoard li.in-progress:before {
  background-color: #dcdcdc;
}

.dashBoard li.cancelled:before {
  background-color: #ee6969;
}

.dashBoard .second-block .projectsCount {
  color: #dcdcdc;
}

.dashBoard .second-block .projectsCount span.number {
  font-size: 3em;
  color: #616161;
}

.dashBoard .third-block .dialog-timing {
  font-size: 0.8em;
  color: #dcdcdc;
}

.dashBoard .third-block .dialog-timing a {
  color: #70b6e2;
  text-decoration: underline;
}

.dashBoard .third-block .dialog-wrapper {
  height: 70%;
}

.dashBoard .third-block .inner-message-box {
  position: relative;
  padding-right: 5%;
}

.dashBoard .third-block .inner-message {
  padding: 3%;
  width: 80%;
  height: 50%;
  border: 2px solid #dcdcdc;
  border-radius: 2px;
  font-size: 0.8em;
  color: #616161;
}

.dashBoard .third-block .inner-message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100%;
  border: 8px solid;
  border-color: #dcdcdc transparent transparent #dcdcdc;
}

.dashBoard .third-block .inner-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 11.5%;
  top: 98%;
  border: 6px solid;
  border-color: #fff transparent transparent #fff;
}

.dashBoard .third-block .outer-message-box {
  padding-left: 5%;
  margin-left: 10%;
}

.dashBoard .third-block .outer-message {
  padding: 3%;
  width: 80%;
  height: 50%;
  border: 2px solid #e4f1f6;
  background-color: #e4f1f6;
  border-radius: 2px;
  font-size: 0.8em;
  color: #616161;
}

.dashBoard .third-block .outer-message:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 60%;
  top: 86%;
  border: 9px solid transparent;
  border-top: 8px solid #e4f1f6;
  border-right: 8px solid #e4f1f6;
}

.dashBoard .third-block .message-link-wrapper {
  margin-top: 5%;
}

.dashBoard .third-block .message-link {
  font-size: 0.9em;
  color: #70b6e2;
  text-decoration: underline;
}

.dashBoard .line {
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
}

.dashBoard .second-line .select-status {
  width: 100%;
  height: 40px;
  border: 1px solid #39acd0;
  border-radius: 2px;
  padding: 5%;
  color: #616161;
}

.dashBoard .second-line .select-status option {
  width: 100%;
  color: #616161;
}

.dashBoard .second-line table {
  width: 100%;
  border: 2px solid white;
  border-collapse: collapse;
}

.dashBoard .second-line table td.empty {
  border: 1px solid white;
}

.dashBoard .second-line table tr {
  height: 7vh;
}

.dashBoard .second-line table .tr-blue {
  background-color: #f8fdff;
}

.dashBoard .second-line table .pg-name {
  width: 40%;
}

.dashBoard .second-line table .delivery-date {
  width: 17%;
  border-left: 1px solid #dcdcdc;
}

.dashBoard .second-line table .hours {
  width: 17%;
  border-left: 1px solid #dcdcdc;
}

.dashBoard .second-line table .status {
  width: 17%;
  border-left: 1px solid #dcdcdc;
}

.dashBoard .second-line table .empty {
  width: 12%;
}

.dashBoard .second-line table th {
  color: #dcdcdc;
  font-weight: normal;
}

.dashBoard .second-line table th p {
  margin: 0;
}

.dashBoard .second-line table th i {
  font-size: 0.7em;
}

.fixed {
  color: #dcdcdc;
  text-transform: uppercase;
  font-size: 0.9em;
}

.link-wrapper {
  width: 48%;
}

.link-wrapper .nameProject, .link-wrapper .nameProject:hover, .link-wrapper .nameProject:visited {
  color: #70b6e2;
  text-decoration: underline;
  margin-right: 3%;
  margin-top: 2%;
}

.button-wrapper {
  width: 30%;
}

.message {
  width: 44px;
  height: 44px;
  border: 1px solid #8cca49;
  border-radius: 1px;
}

.plus {
  width: 44px;
  height: 44px;
  border: 1px solid #70b6e2;
  color: #70b6e2;
  font-size: 0.9em;
  border-radius: 1px;
}

.note p {
  margin: 0;
}

.note p.in-progress {
  color: #70b6e2;
}

.note p.on-hold {
  color: #8a8a8a;
}

.note p.closed {
  color: #8cca49;
}

.note-title {
  text-transform: uppercase;
  color: #dcdcdc;
}

.note-subtitle {
  font-size: 0.9em;
  color: #616161;
}

.link-wrap {
  position: relative;
  margin-top: -4%;
}
