@font-face {
  font-family: openSans;
  src: url(../fonts/openSans-Regular.ttf);
}

body {
  background-color: #70b6e2;
  font-family: openSans;
}

.main-flex-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.main-flex-container img {
  margin: 20% 0;
}

.container {
  height: 505px;
  width: 865px;
  display: flex;
  flex-direction: row;
}

.container .welcomeBlock {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 62px;
  background: url(../img/bgAbstract.jpg);
  background-repeat: no-repeat;
  color: white;
}

.container .welcomeBlock .whiteBlock {
  width: 94px;
  height: 4px;
  background-color: white;
}

.container .welcomeBlock .welcomeSpeach {
  width: 250px;
  text-align: justify;
  color: #c9e7fa;
  margin-top: 5%;
}

.container .loginBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.container .loginBlock .globalErrorBlock {
  display: flex;
  height: 25%;
  background-color: #ee6969;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

.container .loginBlock .globalErrorBlock .heart {
  height: 35px;
  width: 35px;
}

.container .loginBlock .globalErrorBlock .errorMessageText {
  width: 401px;
  height: 77px;
  text-align: justify;
  color: white;
  font-size: 12px;
}

.container .loginBlock .loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  flex-grow: 1;
  padding: 20%;
  width: 60%;
}

.container .loginBlock .loginForm .supplyAccCreation {
  margin-top: 18%;
  font-size: 12px;
}

.container .loginBlock .loginForm .login {
  color: #70b6e2;
  text-transform: uppercase;
}

.container .loginBlock .loginForm .notes {
  width: 100%;
}

.container .loginBlock .loginForm .wrapperForUserInput {
  position: relative;
  width: 70%;
}

.container .loginBlock .loginForm .inputForUser {
  width: 95%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #ced8ea;
  padding: 0 50px;
  color: #909090;
}

.container .loginBlock .loginForm .loginImg {
  border-right: solid 1px #ced8ea;
  padding: 0 15px 0 0;
  position: absolute;
  top: 28%;
  left: 6%;
}

.container .loginBlock .loginForm .loginPass {
  position: absolute;
  border-right: solid 1px #ced8ea;
  padding: 0 15px 0 0;
  top: 25%;
  left: 6%;
}

.container .loginBlock .loginForm #password {
  margin-bottom: 25px;
}

.container .loginBlock .loginForm .link {
  color: #70b6e2;
  font-size: 10pt;
}

.container .loginBlock .loginForm .wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.container .loginBlock .loginForm #forgotPas {
  margin-top: 10%;
}

.container .loginBlock .loginForm .submitButton {
  width: 117px;
  height: 42px;
  background-color: #70b6e2;
  background-image: url("../img/padlock.png");
  background-repeat: no-repeat;
  background-position: 20px;
  padding-left: 30px;
  color: white;
  font-size: 12pt;
  text-transform: uppercase;
  border: 1px solid;
}
