$aqua: #f8fdff;
$blueDefault: #70b6e2;
$darkGray: #8a8a8a;
$lightGray: #dcdcdc;
$lightGreen: #8cca49;
$extraGray: #616161;
.container {
  width: 1535px !important;
  padding: 0 !important;
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.woff);
}

header {
  height: 20vh;
  width: 100vw;
  background-color: $blueDefault;
  padding-top: 3vh;
  .logoWrapper {
    padding: 0;
  }
  .searchWrapper {
    padding: 0;
  }
  .search {
    height: 41px;
    width: 100%;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0 3%;
  }
  input::placeholder {
    color: $blueDefault;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
  }
  .dashWrapper {
    height: 80vh;
    width: 100vw;
    background-color: $aqua;
  }

  .searchWrapper {
    position: relative;
    .searchButton {
      position: absolute;
      top: 20%;
      right: 5%;
    }
  }
  .navigation {
    margin-top: 3vh;
    padding: 0;
  }
  .navItem {
    padding: 10px;
    line-height: 20px;
    height: 40px;
    background-color: white;
    color: $blueDefault;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    opacity: 0.8;
    a, a:hover, a:visited {
      color: $blueDefault;
      font-size: 0.9em;
      text-decoration: none;
    }
  }
  .active {
    opacity: 1;
  }
}

.sideBar {
  padding: 0 !important;
  margin-top: 5vh;
  .sideItem {
    height: 7vh;
    width: 10vw;
    .imgWrapper {
      margin-right: 5%;
    }
  }
  a.point, a.point:visited {
    color: $darkGray;
    text-decoration: none;
  }

  a.point:hover {
    color: $blueDefault;
  }
  .point-message:after {
    content: '3';
    color: white;
    width: 20px;
    height: 20px;
    font-size: 0.8em;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    background-color: $blueDefault;
    position: absolute;
    left: 43%;
    top: 30%;
  }
}

.dashBoard {
  margin-top: -6.5vh;
  min-height: 70vh;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 1%;
  padding-left: 2% !important;
  padding-bottom: 2%;
  .title {
    color: $blueDefault;
    text-transform: uppercase;
    font-weight: 600;
  }

  .notification {
    color: $darkGray;
    font-size: 1em;
  }
  ul {
    position: relative;
  }
  ul:before {
    content: '';
    display: block;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 1px;
    height: 100%;
    background-color: $blueDefault;
  }

  li {
    list-style-type: none;
    position: relative;
    .li-title {
      margin: 0;
      font-size: 0.9em;
      color: $lightGray;
      text-transform: uppercase;
    }
    .report {
      font-size: 0.9em;
      color: $extraGray;
      .taskName, .taskName:hover, .taskName:visited {
        color: $blueDefault;
        font-size: 0.9em;
        text-decoration: underline;
      }
      .status-done {
        font-size: 0.9em;
        color: $lightGreen
      }
      .status-progress {
        font-size: 0.9em;
        color: $extraGray;
      }
      .status-cancelled {
        font-size: 0.9em;
        color: #ee6969;
      }
    }
  }
  li:before {
    content: '';
    display: block;
    position: absolute;
    top: 30%;
    left: -8.5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  li.done:before {
    background-color: $lightGreen;
  }
  li.in-progress:before {
    background-color: $lightGray;
  }
  li.cancelled:before {
    background-color: #ee6969;
  }

  .second-block {
    .projectsCount {
      color: $lightGray;
      span.number {
        font-size: 3em;
        color: #616161;
      }
    }
  }

  .third-block {
    .dialog-timing {
      font-size: 0.8em;
      color: $lightGray;
      a {
        color: $blueDefault;
        text-decoration: underline;

      }
    }
    .dialog-wrapper {
      height: 70%;
    }
    .inner-message-box {
      position: relative;
      padding-right: 5%;
    }
    .inner-message {
      padding: 3%;
      width: 80%;
      height: 50%;
      border: 2px solid $lightGray;
      border-radius: 2px;
      font-size: 0.8em;
      color: $extraGray;
    }
    .inner-message:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 30px;
      top: 100%;
      border: 8px solid;
      border-color: $lightGray transparent transparent $lightGray;
    }
    .inner-message:after {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 11.5%;
      top: 98%;
      border: 6px solid;
      border-color: #fff transparent transparent #fff;
    }

    .outer-message-box {
      padding-left: 5%;
      margin-left: 10%;
    }
    .outer-message {
      padding: 3%;
      width: 80%;
      height: 50%;
      border: 2px solid #e4f1f6;
      background-color: #e4f1f6;
      border-radius: 2px;
      font-size: 0.8em;
      color: $extraGray;
    }
    .outer-message:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 60%;
      top: 86%;
      border: 9px solid transparent;
      border-top: 8px solid #e4f1f6;
      border-right: 8px solid #e4f1f6;
    }
    .message-link-wrapper {
      margin-top: 5%;
    }
    .message-link {
      font-size: 0.9em;
      color: $blueDefault;
      text-decoration: underline;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: $lightGray;
  }
  .second-line {
    .select-status {
      width: 100%;
      height: 40px;
      border: 1px solid #39acd0;
      border-radius: 2px;
      padding: 5%;
      color: $extraGray;
      option {
        width: 100%;
        color: $extraGray;
      }
    }

    table {
      width: 100%;
      border: 2px solid white;
      border-collapse: collapse;

      td.empty {
        border: 1px solid white;
      }
      tr {
        height: 7vh;
      }
      .tr-blue {
        background-color: $aqua;
      }

      .pg-name {
        width: 40%;

      }
      .delivery-date {
        width: 17%;
        border-left: 1px solid $lightGray;
      }
      .hours {
        width: 17%;
        border-left: 1px solid $lightGray;
      }
      .status {
        width: 17%;
        border-left: 1px solid $lightGray;
      }
      .empty {
        width: 12%;
      }

      th {
        color: $lightGray;
        font-weight: normal;
        p {
          margin: 0;
        }
        i {
          font-size: 0.7em;
        }
      }
    }
  ;
  }
}



.fixed {
  color: $lightGray;
  text-transform: uppercase;
  font-size: 0.9em;
}

.link-wrapper {
  width: 48%;
  .nameProject, .nameProject:hover, .nameProject:visited {
    color: $blueDefault;
    text-decoration: underline;
    margin-right: 3%;
    margin-top: 2%;
  }
}

.button-wrapper {
  width: 30%;
}

.message {
  width: 44px;
  height: 44px;
  border: 1px solid $lightGreen;
  border-radius: 1px;
}

.plus {
  width: 44px;
  height: 44px;
  border: 1px solid $blueDefault;
  color: $blueDefault;
  font-size: 0.9em;
  border-radius: 1px;
}

.note {
  p {
    margin: 0;
  }
  p.in-progress {
    color: $blueDefault;
  }
  p.on-hold {
    color: $darkGray;
  }
  p.closed {
    color: $lightGreen;
  }
}

.note-title {
  text-transform: uppercase;
  color: $lightGray;
}

.note-subtitle {
  font-size: 0.9em;
  color: $extraGray;
}

.link-wrap {
  position: relative;
  margin-top: -4%;
}


